.postcardcontainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: auto;
  color: rgb(34,34,34);
  border-bottom-width: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 6px #ccc;
}

.postcardcontainer:hover {
  color: #000;
}

.price {
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  margin: 0;
}

.image {
  width: 300px;
  height: 225px;
  border-radius: 5px;
}

.metacontainer {
  display: flex;
  flex-wrap:wrap;
  width: fit-content;
  height: fit-content;
  text-align: left;
  gap: 0px;
  border-radius: 10px;
}

.h3 {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 400px;
  margin: 0px;
}

.date {
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
  margin-right: 2px;
  width: auto;
  height: 12px;
  position: relative;
}

.price2 {
    width: auto;
    height: 17.6px;
    font-size: 12px;
    background-color: rgb(255,255,255);
    border-bottom-color: rgb(204,204,204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: rgb(204,204,204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204,204,204);
    border-top-style: solid;
    border-top-width: 1px;
    border-left-color: rgb(204,204,204);
    border-left-style: solid;
    border-left-width: 1px;
    text-size-adjust: auto;
    font-weight: 400;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 4px;
    position: relative;
  }

  .area {
    width: auto;
    height: 17.6px;
    font-size: 14px;
  }

  .star {
    display: flex;
    flex-wrap: wrap
  }

  .cat {
    font-size: 12px;
    background-color: #fff;
    background-color: rgb(255,255,255);
    border: 1px solid #ccc;
    text-size-adjust: auto;
    font-weight: 400;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    top: 0;
    right: 0;
    position: absolute;
    border-bottom-left-radius: 5px;
    margin: 0;
  }
