
/* labels */
.postlabel {
  color: #008800;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.pricelabel {
  color: #008800;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.citylabel {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.postallabel {
  color: #008800;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.descriptionlabel {
  color: #008800;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.emaillabel {
  color: #008800;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.categorylabel {
  color: #008800;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

/* containers */

.form {
  margin-top: 10rem;
  align-content: center;
}

.groupcontainer {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.descriptioncontainer {
  display: flex;
  flex-direction: column;
}

.contactcontainer {
  display: flex;
  border: black;
}

.checkboxcontainer {
  display: flex;

}

/* text inputs and boxes */

.postingtitle {
  display: flex;
  width: 239.407px;
  height: 21.6px;
}

.price {
  display: flex;
  width: 102.885px;
  height: 21.6px;
}

.city {
  display: flex;
  width: 295.807px;
  height: 21.6px;
}

.postalcode {
  display: flex;
  width: 100.320px;
  height: 21.6px;
}

.description {
  display: flex;
  align-content: center;
  max-width: 952px;
  max-height: 216px;
  min-width: 228px;
  min-height: 216px;
  width: 952px;
  height: 216px;
}

.contactinfo {
  display: flex;
  width: 295.807px;
  height: 21.6px;
}

