.postBox {
  margin: 0 140px;
}

.replyBtn {
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
    background-color: #ece3ef;
    border: solid #b481c9 1px;
    border-radius: .2rem;
    color: #7b1fa2;
    font-size: 1.1rem;
    height: 2em;
    line-height: 1.1rem;
    padding: 0 .8rem;
    white-space: nowrap;
    margin-right: 2em;
}
.area {
  font-size: 1rem;
}

img {
  object-fit: cover;
}

.indent {
  margin-left: 20px;
}

span { 
  font-size: .8rem;
  margin: 10px 20px;
}

.underlined {
  border-bottom: 1px dotted #ccc;
  margin-inline: 2px;
}

.metadata {
  margin-bottom: 10px;
}