.postlabel {
  color: #008800;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.pricelabel {
  color: #008800;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.citylabel {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.postallabel {
  color: #008800;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.postallabel {
  color: #008800;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.emaillabel {
  color: #008800;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}