.footer {
  font-size: .85rem;
  grid-area: footer;
  background-color: #f4f4f4;
  height: 35px;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-top: lightgray;
}

a:hover {
  text-decoration: none;
}
