.resultsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-left: 8rem;
  margin-right: auto;
  margin-top: 5rem;
}

.search {
  position: absolute;
  top: 50px;
  width:35%;
  left: 130px;
}